/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
  }
  
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
  }
  
  /* Título da página */
  h1 {
    color: #333;
    font-size: 24px;
  }
  
  /* Estilos para a tabela de dados */
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  table, th, td {
    border: 1px solid #ccc;
  }
  
  th, td {
    padding: 10px;
    text-align: left;
  }
  
  th {
    background-color: #333;
    color: #fff;
  }
  
  /* Estilos para botões ou ações */
  .button {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .button:hover {
    background-color: #0056b3;
  }
  
  /* Estilos para formulários, se aplicável */
  form {
    margin-top: 20px;
  }
  
  input[type="text"], input[type="number"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  /* Estilos para mensagens de erro/sucesso, se aplicável */
  .message {
    padding: 10px;
    margin-top: 20px;
    border-radius: 5px;
  }
  
  .error {
    background-color: #ff6363;
    color: #fff;
  }
  
  .success {
    background-color: #00b300;
    color: #fff;
  }
  
  /* Estilos para links, se aplicável */
  a {
    color: #007BFF;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  .custom-button {
    background-color: #0077cc; /* Cor de fundo do botão */
    color: #fff; /* Cor do texto do botão */
    padding: 10px 15px; /* Tamanho do botão - ajustado */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .custom-button:hover {
    background-color: #005599; /* Cor de fundo do botão ao passar o mouse */
  }
  
  